.head{
    background-color: #9cd2d3;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70px;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 7%;
    background-color: #9cd2d3;
    
}
.menu{
    max-height: 50px;
    max-width: 25%;
    min-width: fit-content;
}
.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
}