.pp{

    max-width: 35%;
    margin-top: 25%;
}
.items{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   margin:5%;
}

h1{
    margin: 0;
    margin-bottom: 15px;
    font-size: 35px;
}

h3{
    margin: 0;
    margin-bottom: 10px;
    font-size: medium;
    
}
.completedhabits{
    color: white;
    text-decoration: none;
}
.texto{
    margin: 10%;
}

.btn-agregar{
    margin-top: 15px;
    background-color: #4A6EB0;
    border-color: #4A6EB0;
    color: white;
    text-transform: uppercase;
    margin: 10px;
    min-width: 70%;
    min-height: 35px;
}